<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">
  <Identity Name="com.nextcloud.uwp"
            Publisher="CN=NextcloudUWP"
            Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="A1B2C3D4-E5F6-7890-ABCD-EF1234567890"
                    PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Nextcloud</DisplayName>
    <PublisherDisplayName>Nextcloud</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.15063.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="NextcloudUWP.App">
      <uap:VisualElements DisplayName="Nextcloud"
                          Description="Nextcloud client for Windows 10 Mobile"
                          BackgroundColor="#0082c9"
                          Square150x150Logo="Assets\Square150x150Logo.scale-200.png"
                          Square44x44Logo="Assets\Square44x44Logo.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.scale-200.png"
                         ShortName="Nextcloud">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.scale-200.png" />
        <uap:LockScreen Notification="badgeAndTileText"
                        BadgeLogo="Assets\Square44x44Logo.scale-200.png" />
      </uap:VisualElements>
      <Extensions>
        <!-- Register the app class as an in-process activatable class so the OS can
             activate it for background tasks without launching a separate process. -->
        <Extension Category="windows.activatableClass.inProcessServer">
          <InProcessServer>
            <Path>NextcloudUWP.exe</Path>
            <ActivatableClass ActivatableClassId="NextcloudUWP.App" ThreadingModel="both" />
          </InProcessServer>
        </Extension>
        <!-- Declare the timer-triggered background tasks.
             EntryPoint matches the ActivatableClassId above. -->
        <Extension Category="windows.backgroundTasks" EntryPoint="NextcloudUWP.App">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="removableStorage" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>
